## Loading and reading data into Pandas

In [769]:
import pandas as pd

df = pd.read_csv('ObesityDataSet_raw_and_data_sinthetic.csv')

In [770]:
df.head(3)

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight

In [771]:
df.columns # reading headers(titles of the columns)

Index(['Gender', 'Age', 'Height', 'Weight', 'family_history_with_overweight',
       'FAVC', 'FCVC', 'NCP', 'CAEC', 'SMOKE', 'CH2O', 'SCC', 'FAF', 'TUE',
       'CALC', 'MTRANS', 'NObeyesdad'],
      dtype='object')

In [772]:
df.Gender[0:5] # reading data of specific column '0:5 means the top 5 rows, it's the same as head()
# df['Gender'] # this is the same as above
df[['Gender', 'Weight', 'Age']].head() # multiple columns

   Gender  Weight   Age
0  Female    64.0  21.0
1  Female    56.0  21.0
2    Male    77.0  23.0
3    Male    87.0  27.0
4    Male    89.8  22.0

In [773]:
# df.iloc[1] # reading data of the first entry(row)
df.iloc[0:2] # reading data of the specified entries(rows) excluding the last one specified

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight

In [774]:
## reading specific data in entries
# df.loc[df['Gender'] == 'Female'].head() # reading entries where gender is female
df.loc[df['family_history_with_overweight'] == 'yes'].head()

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
6,Female,23.0,1.50,55.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,0.0,Sometimes,Motorbike,Normal_Weight
8,Male,24.0,1.78,64.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,1.0,Frequently,Public_Transportation,Normal_Weight

In [775]:
# accessing entries row by row
for index, row in df.iterrows(): # index is the index of the entry and row is the information recorded iterrows is iterate rows
    # print(index, row) # all columns
    # print(index, row['Gender']) # one column
    print(index, row['Gender'], row['Height']) # multiple columns

0 Female 1.62
1 Female 1.52
2 Male 1.8
3 Male 1.8
4 Male 1.78
5 Male 1.62
6 Female 1.5
7 Male 1.64
8 Male 1.78
9 Male 1.72
10 Male 1.85
11 Female 1.72
12 Male 1.65
13 Male 1.8
14 Male 1.77
15 Female 1.7
16 Male 1.93
17 Female 1.53
18 Female 1.71
19 Female 1.65
20 Male 1.65
21 Female 1.69
22 Female 1.65
23 Female 1.6
24 Male 1.85
25 Male 1.6
26 Male 1.7
27 Female 1.6
28 Male 1.75
29 Male 1.68
30 Male 1.77
31 Female 1.58
32 Female 1.77
33 Male 1.79
34 Male 1.65
35 Female 1.5
36 Female 1.56
37 Female 1.6
38 Male 1.65
39 Female 1.75
40 Female 1.67
41 Male 1.68
42 Female 1.66
43 Male 1.66
44 Male 1.81
45 Female 1.53
46 Male 1.82
47 Male 1.75
48 Female 1.66
49 Female 1.55
50 Female 1.61
51 Female 1.5
52 Female 1.64
53 Female 1.63
54 Female 1.6
55 Male 1.68
56 Male 1.7
57 Male 1.64
58 Female 1.65
59 Male 1.76
60 Female 1.55
61 Male 1.65
62 Male 1.67
63 Male 1.68
64 Female 1.66
65 Female 1.62
66 Male 1.8
67 Male 1.65
68 Male 1.76
69 Male 1.8
70 Female 1.65
71 Female 1.67
72 Female 1.65
73 Male 1.85
74 Male 1.7
75 Female 1.63
76 Female 1.6
77 Female 1.7
78 Female 1.65
79 Male 1.65
80 Female 1.63
81 Male 1.8
82 Male 1.67
83 Female 1.6
84 Male 1.7
85 Male 1.65
86 Male 1.85
87 Male 1.82
88 Female 1.65
89 Female 1.7
90 Female 1.63
91 Female 1.61
92 Male 1.78
93 Female 1.6
94 Female 1.6
95 Male 1.7
96 Female 1.66
97 Female 1.52
98 Female 1.52
99 Male 1.72
100 Female 1.69
101 Male 1.7
102 Female 1.55
103 Female 1.65
104 Female 1.56
105 Female 1.57
106 Female 1.57
107 Male 1.88
108 Male 1.75
109 Female 1.65
110 Male 1.75
111 Female 1.58
112 Female 1.56
113 Female 1.5
114 Female 1.61
115 Female 1.75
116 Female 1.65
117 Female 1.7
118 Male 1.62
119 Female 1.63
120 Female 1.67
121 Male 1.87
122 Male 1.75
123 Male 1.66
124 Male 1.76
125 Male 1.75
126 Male 1.67
127 Female 1.65
128 Male 1.72
129 Male 1.7
130 Female 1.58
131 Male 1.62
132 Female 1.65
133 Female 1.65
134 Male 1.77
135 Male 1.7
136 Male 1.79
137 Male 1.6
138 Male 1.76
139 Male 1.7
140 Male 1.89
141 Male 1.87
142 Male 1.74
143 Female 1.68
144 Male 1.61
145 Male 1.62
146 Female 1.56
147 Female 1.63
148 Female 1.6
149 Female 1.67
150 Male 1.78
151 Female 1.62
152 Female 1.5
153 Male 1.69
154 Male 1.74
155 Female 1.68
156 Female 1.53
157 Male 1.67
158 Female 1.55
159 Male 1.64
160 Male 1.83
161 Male 1.65
162 Female 1.63
163 Male 1.89
164 Male 1.77
165 Male 1.92
166 Female 1.74
167 Male 1.65
168 Female 1.73
169 Female 1.63
170 Male 1.72
171 Male 1.6
172 Female 1.65
173 Male 1.74
174 Male 1.62
175 Female 1.64
176 Female 1.57
177 Male 1.84
178 Male 1.91
179 Male 1.62
180 Female 1.58
181 Female 1.68
182 Female 1.68
183 Female 1.48
184 Male 1.62
185 Female 1.62
186 Male 1.78
187 Male 1.78
188 Male 1.78
189 Female 1.63
190 Male 1.6
191 Male 1.75
192 Male 1.83
193 Male 1.78
194 Female 1.6
195 Male 1.8
196 Male 1.75
197 Male 1.75
198 Female 1.59
199 Female 1.66
200 Female 1.63
201 Female 1.54
202 Female 1.56
203 Male 1.69
204 Male 1.83
205 Female 1.6
206 Male 1.75
207 Male 1.75
208 Female 1.69
209 Female 1.69
210 Male 1.8
211 Female 1.63
212 Female 1.5
213 Male 1.8
214 Male 1.65
215 Male 1.68
216 Female 1.6
217 Male 1.71
218 Female 1.5
219 Female 1.6
220 Female 1.75
221 Male 1.72
222 Female 1.72
223 Female 1.61
224 Female 1.63
225 Male 1.83
226 Female 1.6
227 Female 1.62
228 Female 1.68
229 Male 1.75
230 Male 1.9
231 Female 1.63
232 Female 1.59
233 Female 1.68
234 Female 1.59
235 Female 1.69
236 Female 1.66
237 Female 1.64
238 Female 1.62
239 Female 1.7
240 Female 1.63
241 Male 1.6
242 Female 1.63
243 Male 1.85
244 Female 1.54
245 Female 1.64
246 Female 1.57
247 Female 1.62
248 Male 1.72
249 Male 1.76
250 Female 1.65
251 Male 1.67
252 Male 1.79
253 Female 1.59
254 Female 1.64
255 Male 1.78
256 Male 1.75
257 Male 1.85
258 Male 1.7
259 Female 1.67
260 Male 1.72
261 Female 1.7
262 Male 1.74
263 Male 1.74
264 Male 1.87
265 Male 1.7
266 Female 1.65
267 Male 1.7
268 Male 1.67
269 Male 1.72
270 Male 1.82
271 Female 1.5
272 Male 1.7
273 Male 1.71
274 Female 1.61
275 Female 1.5
276 Male 1.67
277 Male 1.82
278 Female 1.57
279 Male 1.79
280 Male 1.75
281 Male 1.7
282 Female 1.62
283 Male 1.69
284 Male 1.77
285 Male 1.79
286 Female 1.6
287 Female 1.6
288 Female 1.56
289 Male 1.88
290 Male 1.82
291 Male 1.8
292 Male 1.7
293 Male 1.82
294 Male 1.86
295 Female 1.66
296 Female 1.53
297 Male 1.74
298 Male 1.8
299 Male 1.7
300 Male 1.7
301 Male 1.72
302 Male 1.84
303 Female 1.57
304 Male 1.8
305 Male 1.75
306 Female 1.56
307 Female 1.59
308 Male 1.8
309 Female 1.66
310 Male 1.79
311 Male 1.72
312 Female 1.6
313 Male 1.66
314 Female 1.65
315 Male 1.7
316 Male 1.75
317 Male 1.75
318 Female 1.56
319 Female 1.55
320 Male 1.67
321 Male 1.75
322 Female 1.75
323 Male 1.8
324 Female 1.65
325 Female 1.55
326 Male 1.7
327 Male 1.72
328 Male 1.74
329 Female 1.65
330 Female 1.8
331 Male 1.74
332 Male 1.85
333 Female 1.7
334 Female 1.45
335 Male 1.7
336 Male 1.7
337 Male 1.78
338 Female 1.6
339 Female 1.53
340 Male 1.8
341 Male 1.6
342 Male 1.74
343 Male 1.65
344 Male 1.87
345 Male 1.7
346 Female 1.54
347 Male 1.8
348 Male 1.82
349 Male 1.98
350 Male 1.75
351 Female 1.65
352 Female 1.6
353 Female 1.6
354 Female 1.6
355 Female 1.55
356 Male 1.9
357 Female 1.7
358 Male 1.75
359 Female 1.56
360 Male 1.87
361 Female 1.56
362 Female 1.65
363 Male 1.8
364 Male 1.84
365 Male 1.7
366 Male 1.72
367 Female 1.58
368 Female 1.68
369 Male 1.58
370 Male 1.8
371 Male 1.62
372 Female 1.62
373 Female 1.54
374 Male 1.76
375 Male 1.8
376 Female 1.58
377 Male 1.76
378 Male 1.73
379 Male 1.7
380 Male 1.7
381 Male 1.8
382 Female 1.6
383 Male 1.7
384 Female 1.6
385 Female 1.55
386 Female 1.59
387 Female 1.5
388 Male 1.78
389 Female 1.61
390 Male 1.71
391 Female 1.7
392 Male 1.76
393 Male 1.7
394 Female 1.53
395 Female 1.54
396 Female 1.55
397 Male 1.66
398 Male 1.85
399 Male 1.65
400 Male 1.65
401 Male 1.83
402 Male 1.83
403 Female 1.66
404 Male 1.78
405 Male 1.74
406 Male 1.76
407 Female 1.51
408 Male 1.81
409 Female 1.55
410 Male 1.83
411 Female 1.6
412 Male 1.85
413 Male 1.75
414 Male 1.83
415 Male 1.71
416 Male 1.84
417 Male 1.77
418 Male 1.7
419 Male 1.62
420 Male 1.85
421 Male 1.84
422 Male 1.75
423 Male 1.85
424 Male 1.74
425 Female 1.61
426 Male 1.75
427 Female 1.67
428 Male 1.7
429 Male 1.9
430 Male 1.65
431 Female 1.6
432 Male 1.8
433 Female 1.64
434 Male 1.89
435 Female 1.76
436 Female 1.56
437 Female 1.6
438 Female 1.67
439 Female 1.6
440 Female 1.55
441 Female 1.55
442 Male 1.72
443 Male 1.72
444 Male 1.7
445 Female 1.51
446 Male 1.83
447 Male 1.8
448 Female 1.6
449 Female 1.63
450 Male 1.71
451 Male 1.7
452 Male 1.75
453 Female 1.62
454 Female 1.68
455 Male 1.85
456 Female 1.59
457 Female 1.5
458 Male 1.69
459 Male 1.76
460 Female 1.62
461 Male 1.71
462 Male 1.72
463 Male 1.8
464 Male 1.93
465 Female 1.6
466 Male 1.74
467 Male 1.74
468 Female 1.62
469 Female 1.54
470 Female 1.56
471 Female 1.6
472 Female 1.54
473 Female 1.63
474 Male 1.78
475 Female 1.62
476 Female 1.71
477 Female 1.64
478 Male 1.69
479 Female 1.58
480 Female 1.57
481 Male 1.74
482 Female 1.58
483 Female 1.5
484 Female 1.65
485 Male 1.8
486 Male 1.75
487 Male 1.84
488 Male 1.88
489 Female 1.56
490 Male 1.75
491 Male 1.66
492 Male 1.7
493 Male 1.8
494 Female 1.67
495 Male 1.8
496 Male 1.72
497 Male 1.56
498 Female 1.686306
499 Female 1.683124
500 Female 1.622397
501 Female 1.755643
502 Female 1.843419
503 Female 1.7456
504 Female 1.630927
505 Female 1.629191
506 Female 1.770612
507 Male 1.743702
508 Male 1.771915
509 Male 1.75376
510 Female 1.675446
511 Female 1.666203
512 Female 1.711467
513 Female 1.598019
514 Female 1.59611
515 Female 1.57206
516 Female 1.586952
517 Female 1.59559
518 Female 1.6
519 Female 1.688025
520 Female 1.556211
521 Female 1.564199
522 Female 1.56948
523 Female 1.52
524 Female 1.550648
525 Female 1.520997
526 Female 1.528011
527 Female 1.52
528 Female 1.733263
529 Female 1.722527
530 Female 1.734832
531 Male 1.882779
532 Male 1.854592
533 Male 1.835643
534 Male 1.755507
535 Male 1.71266
536 Male 1.694265
537 Female 1.586895
538 Female 1.579561
539 Female 1.564568
540 Female 1.670635
541 Female 1.688426
542 Female 1.66084
543 Female 1.710182
544 Female 1.755978
545 Female 1.728834
546 Female 1.662017
547 Female 1.7
548 Female 1.661403
549 Female 1.610863
550 Female 1.640688
551 Female 1.64603
552 Male 1.710564
553 Male 1.752755
554 Male 1.691007
555 Male 1.753349
556 Male 1.781543
557 Male 1.755823
558 Male 1.836669
559 Male 1.768493
560 Male 1.777108

561 Female 1.640824
562 Female 1.584951
563 Female 1.818268
564 Male 1.793926
565 Male 1.809251
566 Male 1.767335
567 Female 1.699568
568 Female 1.759358
569 Female 1.740295
570 Female 1.739354
571 Female 1.647811
572 Female 1.768435
573 Female 1.7
574 Female 1.699464
575 Female 1.74379
576 Female 1.590317
577 Female 1.527133
578 Female 1.530875
579 Male 1.848294
580 Male 1.824414
581 Male 1.856633
582 Female 1.715597
583 Female 1.675054
584 Female 1.717601
585 Female 1.710756
586 Female 1.7
587 Female 1.7
588 Female 1.573816
589 Female 1.530884
590 Female 1.529724
591 Male 1.767563
592 Male 1.883364
593 Male 1.824655
594 Male 1.840138
595 Male 1.819557
596 Male 1.798645
597 Male 1.7108
598 Male 1.70653
599 Male 1.716691
600 Female 1.555431
601 Female 1.603923
602 Female 1.602082
603 Female 1.53777
604 Female 1.538398
605 Female 1.520862
606 Male 1.717826
607 Male 1.753389
608 Male 1.70165
609 Male 1.75336
610 Female 1.672007
611 Female 1.593847
612 Female 1.584785
613 Female 1.600264
614 Female 1.549311
615 Female 1.534385
616 Female 1.725548
617 Male 1.868931
618 Female 1.686936
619 Female 1.589829
620 Female 1.653209
621 Female 1.740108
622 Female 1.7
623 Female 1.689141
624 Male 1.691206
625 Male 1.788459
626 Male 1.811238
627 Female 1.830068
628 Male 1.782756
629 Female 1.751691
630 Female 1.78656
631 Female 1.71367
632 Female 1.540375
633 Male 1.896734
634 Female 1.710129
635 Female 1.704193
636 Female 1.556611
637 Male 1.845399
638 Male 1.834637
639 Male 1.721854
640 Female 1.605521
641 Female 1.530266
642 Male 1.71889
643 Male 1.756338
644 Male 1.770324
645 Female 1.767479
646 Female 1.704223
647 Female 1.667852
648 Female 1.722461
649 Female 1.588046
650 Female 1.598612
651 Female 1.592379
652 Female 1.555778
653 Female 1.596466
654 Female 1.598393
655 Female 1.633316
656 Female 1.559567
657 Female 1.546551
658 Female 1.566501
659 Female 1.52
660 Female 1.599486
661 Female 1.559186
662 Female 1.523426
663 Female 1.52
664 Female 1.689441
665 Female 1.737453
666 Female 1.732096
667 Male 1.869098
668 Male 1.851123
669 Male 1.787264
670 Male 1.787787
671 Female 1.712515
672 Male 1.698914
673 Female 1.533609
674 Female 1.567981
675 Female 1.544263
676 Female 1.670552
677 Female 1.676346
678 Female 1.667404
679 Female 1.70011
680 Male 1.75633
681 Female 1.703584
682 Female 1.690727
683 Female 1.713564
684 Female 1.67231
685 Female 1.660446
686 Female 1.630379
687 Female 1.655413
688 Male 1.732862
689 Female 1.74402
690 Male 1.757958
691 Male 1.786758
692 Male 1.767058
693 Male 1.699437
694 Male 1.82525
695 Male 1.793315
696 Male 1.776989
697 Female 1.609495
698 Female 1.777929
699 Female 1.710948
700 Male 1.854162
701 Male 1.821514
702 Male 1.762073
703 Female 1.732307
704 Male 1.759933
705 Female 1.741377
706 Female 1.731195
707 Female 1.74823
708 Female 1.756865
709 Female 1.701378
710 Female 1.699956
711 Female 1.723328
712 Female 1.585886
713 Female 1.524926
714 Female 1.52337
715 Male 1.844749
716 Male 1.853325
717 Male 1.854706
718 Female 1.72064
719 Female 1.704167
720 Female 1.71746
721 Female 1.708406
722 Female 1.763465
723 Female 1.7
724 Female 1.574017
725 Female 1.537739
726 Female 1.534223
727 Male 1.76033
728 Male 1.841879
729 Male 1.856406
730 Male 1.829142
731 Male 1.822084
732 Male 1.80671
733 Male 1.707259
734 Male 1.708107
735 Male 1.739344
736 Female 1.573987
737 Female 1.58092
738 Female 1.603435
739 Female 1.53535
740 Female 1.53161
741 Female 1.525691
742 Male 1.719827
743 Male 1.722547
744 Male 1.738702
745 Male 1.816298
746 Male 1.638085
747 Male 1.813678
748 Male 1.697228
749 Male 1.617469
750 Male 1.855543
751 Female 1.721854
752 Male 1.855353
753 Male 1.696336
754 Female 1.751631
755 Male 1.698346
756 Female 1.642971
757 Female 1.613668
758 Male 1.605404
759 Female 1.529834
760 Female 1.55
761 Female 1.731261
762 Male 1.629194
763 Male 1.62
764 Male 1.62
765 Female 1.633491
766 Male 1.752391
767 Male 1.818226
768 Male 1.809101
769 Male 1.709484
770 Male 1.607082
771 Female 1.718939
772 Male 1.831357
773 Female 1.6
774 Female 1.754813
775 Male 1.778447
776 Male 1.709561
777 Female 1.674568
778 Male 1.755317
779 Male 1.708071
780 Male 1.806947
781 Female 1.599697
782 Female 1.721903
783 Male 1.712556
784 Female 1.551288
785 Female 1.603842
786 Female 1.588597
787 Female 1.673482
788 Male 1.858624
789 Female 1.593894
790 Male 1.62
791 Female 1.616366
792 Female 1.637396
793 Female 1.550723
794 Female 1.6
795 Male 1.820471
796 Female 1.657496
797 Male 1.752123
798 Male 1.857231
799 Female 1.76
800 Female 1.644682
801 Female 1.737165
802 Female 1.507853
803 Male 1.81006
804 Male 1.80179
805 Male 1.625891
806 Male 1.64037
807 Male 1.791047
808 Male 1.679306
809 Female 1.615145
810 Female 1.616467
811 Male 1.816783
812 Male 1.812472
813 Female 1.768231
814 Male 1.870931
815 Male 1.863685
816 Male 1.670227
817 Male 1.717288
818 Male 1.750359
819 Male 1.707557
820 Female 1.672446
821 Female 1.675979
822 Female 1.611239
823 Female 1.611356
824 Male 1.62
825 Female 1.508908
826 Female 1.561109
827 Female 1.554728
828 Female 1.730182
829 Female 1.743841
830 Male 1.62
831 Male 1.62
832 Male 1.62
833 Male 1.62
834 Male 1.62
835 Female 1.642506
836 Female 1.69308
837 Male 1.752115
838 Male 1.745033
839 Male 1.820643
840 Male 1.80733
841 Male 1.8
842 Male 1.814255
843 Male 1.700181
844 Female 1.604697
845 Female 1.611
846 Female 1.754497
847 Female 1.752944
848 Male 1.859927
849 Male 1.896073
850 Male 1.605314
851 Female 1.758628
852 Female 1.755427
853 Female 1.779882
854 Male 1.712061
855 Male 1.676014
856 Female 1.7
857 Male 1.765874
858 Male 1.74595
859 Male 1.690196
860 Male 1.81748
861 Female 1.580964
862 Female 1.652084
863 Female 1.645511
864 Male 1.707968
865 Female 1.456346
866 Female 1.498561
867 Female 1.603501
868 Female 1.558045
869 Female 1.55
870 Female 1.647514
871 Male 1.855779
872 Male 1.853223
873 Female 1.570811
874 Female 1.617124
875 Female 1.644053
876 Female 1.608914
877 Female 1.647971
878 Female 1.624831
879 Female 1.508267
880 Female 1.518917
881 Female 1.6
882 Male 1.838791
883 Female 1.730379
884 Female 1.759117
885 Female 1.755254
886 Male 1.804099
887 Male 1.813567
888 Female 1.75655
889 Female 1.756774
890 Female 1.62
891 Female 1.709585
892 Female 1.535618
893 Male 1.818848
894 Male 1.817641
895 Male 1.636592
896 Male 1.621412
897 Male 1.802871
898 Male 1.696201
899 Male 1.694633
900 Female 1.618148
901 Male 1.856811
902 Female 1.738321
903 Female 1.739293
904 Male 1.807538
905 Male 1.849425
906 Male 1.712473
907 Female 1.753471
908 Male 1.717432
909 Male 1.677573
910 Female 1.679725
911 Female 1.600914
912 Female 1.617749
913 Male 1.610209
914 Male 1.612556
915 Female 1.548178
916 Female 1.568441
917 Female 1.532322
918 Female 1.730199
919 Female 1.730167
920 Male 1.627396
921 Male 1.62
922 Male 1.62
923 Male 1.62
924 Female 1.638744
925 Female 1.680858
926 Female 1.758372
927 Male 1.822573
928 Male 1.815409
929 Male 1.698049
930 Female 1.60681
931 Female 1.610327
932 Male 1.710415
933 Male 1.716289
934 Male 1.834715
935 Female 1.611822
936 Female 1.6
937 Female 1.753578
938 Female 1.742364
939 Male 1.775626
940 Male 1.714253
941 Male 1.693628
942 Female 1.659172
943 Male 1.776347
944 Male 1.767806
945 Male 1.702516
946 Male 1.814182
947 Female 1.59994
948 Female 1.666023
949 Male 1.701584
950 Male 1.713343
951 Female 1.489409
952 Female 1.518067
953 Female 1.616533
954 Female 1.589616
955 Female 1.675612
956 Male 1.874061
957 Female 1.580765
958 Male 1.62
959 Female 1.613921
960 Female 1.618683
961 Male 1.637537
962 Female 1.566524
963 Female 1.542328
964 Female 1.6
965 Female 1.600184
966 Male 1.773656
967 Female 1.64602
968 Female 1.65015
969 Male 1.751029
970 Male 1.838266
971 Male 1.824449
972 Female 1.76
973 Female 1.622241
974 Female 1.729996
975 Female 1.725233
976 Female 1.541039
977 Male 1.773766
978 Male 1.75463
979 Male 1.674327
980 Male 1.72
981 Male 1.913241
982 Male 1.737984
983 Male 1.703688
984 Male 1.716308
985 Male 1.65
986 Female 1.57856
987 Male 1.780846
988 Male 1.823168
989 Female 1.525234
990 Female 1.481682
991 Male 1.768578
992 Female 1.569878
993 Female 1.568188
994 Male 1.792527
995 Male 1.795311
996 Female 1.700038
997 Female 1.668649
998 Male 1.7
999 Male 1.713825
1000 Female 1.7
1001 Male 1.835381
1002 Male 1.7
1003 Female 1.7
1004 Male 1.7
1005 Female 1.659877
1006 Male 1.836943
1007 Male 1.819614
1008 Male 1.717775
1009 Male 1.791867
1010 Female 1.7
1011 Male 1.68108
1012 Female 1.660756
1013 Male 1.769269
1014 Male 1.765188
1015 Male 1.65
1016 Male 1.654757
1017 Female 1.647768
1018 Male 1.691303
1019 Female 1.532897
1020 Female 1.565288
1021 Female 1.5
1022 Female 1.507106
1023 Male 1.70074
1024 Male 1.715118
1025 Female 1.696423
1026 Female 1.653088
1027 Female 1.681842
1028 Female 1.652202
1029 Male 1.848683
1030 Male 1.835678
1031 Female 1.560029
1032 Female 1.621048
1033 Male 1.699474
1034 Male 1.745528
1035 Male 1.720379
1036 Male 1.758787
1037 Male 1.704908
1038 Female 1.691322
1039 Male 1.78629
1040 Male 1.705617
1041 Male 1.733439
1042 Female 1.701397
1043 Female 1.625236
1044 Female 1.545196
1045 Male 1.843172
1046 Male 1.705813
1047 Male 1.704141
1048 Male 1.706082
1049 Male 1.842943
1050 Male 1.880992
1051 Male 1.726774
1052 Male 1.73196
1053 Male 1.751278
1054 Male 1.780448
1055 Male 1.85
1056 Male 1.785241
1057 Male 1.718845
1058 Female 1.530248
1059 Female 1.664927
1060 Female 1.673333
1061 Male 1.725587
1062 Female 1.733875
1063 Female 1.675953
1064 Male 1.786238
1065 Male 1.718534
1066 Male 1.919543
1067 Male 1.707613
1068 Male 1.658393
1069 Female 1.536819
1070 Male 1.805459
1071 Female 1.521008
1072 Male 1.744733
1073 Female 1.529223
1074 Male 1.799742
1075 Female 1.681314
1076 Male 1.706912
1077 Female 1.663509
1078 Male 1.752265
1079 Male 1.735343
1080 Female 1.7
1081 Male 1.7
1082 Female 1.633794
1083 Male 1.856759
1084 Male 1.77433
1085 Female 1.7
1086 Male 1.719509
1087 Female 1.658202
1088 Male 1.657221
1089 Male 1.713348
1090 Male 1.677178
1091 Female 1.67805
1092 Male 1.717722
1093 Female 1.486484
1094 Female 1.503379
1095 Male 1.718981
1096 Female 1.688354
1097 Female 1.665807
1098 Male 1.838441
1099 Female 1.653431
1100 Male 1.699818
1101 Male 1.718097
1102 Male 1.731389
1103 Male 1.699667
1104 Female 1.698626
1105 Male 1.823765
1106 Male 1.708742
1107 Female 1.667469
1108 Female 1.588147
1109 Male 1.835024
1110 Male 1.7088
1111 Male 1.680991
1112 Male 1.835271
1113 Male 1.742819
1114 Male 1.741192
1115 Male 1.759721
1116 Male 1.810616
1117 Male 1.763101
1118 Female 1.543338
1119 Female 1.651812
1120 Male 1.732492
1121 Female 1.706349
1122 Male 1.780679
1123 Male 1.758687
1124 Male 1.704573
1125 Male 1.716545
1126 Male 1.903832
1127 Male 1.742538
1128 Male 1.747739
1129 Male 1.717037
1130 Female 1.65
1131 Female 1.577921
1132 Male 1.746055
1133 Male 1.841151
1134 Female 1.517998
1135 Female 1.483284
1136 Male 1.758972
1137 Female 1.562434
1138 Female 1.547066
1139 Male 1.792435
1140 Male 1.784555
1141 Female 1.700216
1142 Male 1.672101
1143 Male 1.7
1144 Male 1.721348
1145 Female 1.7
1146 Male 1.803129
1147 Female 1.70002
1148 Female 1.7
1149 Male 1.713599
1150 Male 1.662728
1151 Male 1.837399
1152 Male 1.80827
1153 Male 1.714508
1154 Male 1.793451
1155 Female 1.700499
1156 Male 1.694997
1157 Female 1.688911
1158 Male 1.673394
1159 Male 1.769499
1160 Male 1.65
1161 Male 1.662669
1162 Female 1.67861
1163 Male 1.694423
1164 Female 1.505437
1165 Female 1.505387
1166 Female 1.491441
1167 Female 1.509408
1168 Male 1.685045
1169 Male 1.723072
1170 Female 1.696954
1171 Female 1.676095
1172 Female 1.681021
1173 Female 1.654067
1174 Male 1.840708
1175 Male 1.836007
1176 Female 1.556789
1177 Female 1.5891
1178 Male 1.700627
1179 Male 1.743935
1180 Male 1.742654
1181 Male 1.754441
1182 Male 1.719342
1183 Female 1.682253
1184 Male 1.799902
1185 Male 1.709428
1186 Male 1.752456
1187 Male 1.685947
1188 Female 1.599999
1189 Female 1.550053
1190 Male 1.828092
1191 Male 1.71338
1192 Male 1.680764
1193 Male 1.705584
1194 Male 1.841852
1195 Male 1.834986
1196 Male 1.724839
1197 Male 1.685127
1198 Male 1.750097
1199 Male 1.757961
1200 Male 1.848965
1201 Male 1.789193
1202 Male 1.716677
1203 Female 1.550122
1204 Female 1.663178
1205 Female 1.679299
1206 Male 1.729177
1207 Male 1.719153
1208 Female 1.687326
1209 Male 1.772449
1210 Male 1.837117
1211 Male 1.784377
1212 Male 1.792507
1213 Female 1.556579
1214 Female 1.585547
1215 Female 1.569234
1216 Female 1.583943
1217 Female 1.621233
1218 Female 1.6084
1219 Male 1.733439
1220 Male 1.65
1221 Female 1.650052
1222 Female 1.644161
1223 Female 1.559499
1224 Male 1.734237
1225 Male 1.775815
1226 Female 1.640426
1227 Female 1.65
1228 Male 1.753321
1229 Female 1.553026
1230 Male 1.706525
1231 Female 1.560648
1232 Male 1.673352
1233 Male 1.660324
1234 Male 1.786318
1235 Male 1.757691
1236 Male 1.712163
1237 Male 1.78
1238 Female 1.6
1239 Female 1.61082
1240 Female 1.665199
1241 Female 1.542122
1242 Female 1.507867
1243 Male 1.660955
1244 Female 1.553127
1245 Male 1.781952
1246 Male 1.75
1247 Female 1.615854
1248 Male 1.793378
1249 Male 1.85478
1250 Female 1.685633
1251 Female 1.706343
1252 Male 1.791415
1253 Male 1.753716
1254 Male 1.780503
1255 Male 1.819867
1256 Male 1.791174
1257 Male 1.82093
1258 Female 1.627812
1259 Female 1.632118
1260 Male 1.773594
1261 Male 1.930416
1262 Male 1.947406
1263 Female 1.610867
1264 Female 1.513202
1265 Male 1.738465
1266 Female 1.567915
1267 Female 1.587546
1268 Male 1.820385
1269 Male 1.792239
1270 Male 1.82697
1271 Female 1.670058
1272 Male 1.639383
1273 Male 1.682916
1274 Female 1.609321
1275 Male 1.690437
1276 Male 1.700164
1277 Female 1.60074
1278 Male 1.801848
1279 Male 1.844751
1280 Male 1.811602
1281 Male 1.787521
1282 Male 1.789109
1283 Female 1.533364
1284 Female 1.580858
1285 Female 1.64639
1286 Female 1.643786
1287 Female 1.634342
1288 Female 1.604893
1289 Male 1.654961
1290 Male 1.701986
1291 Male 1.65
1292 Male 1.657995
1293 Female 1.634688
1294 Female 1.628168
1295 Female 1.557808
1296 Female 1.560199
1297 Male 1.750384
1298 Male 1.753081
1299 Female 1.65
1300 Female 1.650012
1301 Female 1.65
1302 Female 1.634832
1303 Male 1.770126
1304 Male 1.758189
1305 Female 1.595165
1306 Female 1.567756
1307 Male 1.702825
1308 Male 1.735659
1309 Female 1.62901
1310 Female 1.615385
1311 Male 1.671705
1312 Male 1.676595
1313 Male 1.699998
1314 Male 1.722785
1315 Male 1.670667
1316 Male 1.789992
1317 Male 1.768834
1318 Male 1.761008
1319 Male 1.78
1320 Male 1.810215
1321 Female 1.608469
1322 Female 1.630357
1323 Female 1.62826
1324 Female 1.605662
1325 Female 1.567973
1326 Female 1.548403
1327 Male 1.681855
1328 Male 1.688436
1329 Female 1.577115
1330 Female 1.586751
1331 Male 1.710616
1332 Male 1.721384
1333 Female 1.624367
1334 Female 1.622787
1335 Male 1.855433
1336 Male 1.856315
1337 Female 1.681719
1338 Female 1.722884
1339 Male 1.799406
1340 Male 1.819875
1341 Male 1.790172
1342 Male 1.783782
1343 Male 1.783906
1344 Male 1.844218
1345 Female 1.631662
1346 Female 1.649553
1347 Male 1.754711
1348 Male 1.762515
1349 Male 1.942725
1350 Male 1.975663
1351 Female 1.586301
1352 Female 1.598448
1353 Male 1.703098
1354 Male 1.706996
1355 Female 1.526472
1356 Female 1.501993
1357 Male 1.784402
1358 Male 1.792687
1359 Male 1.814052
1360 Male 1.789421
1361 Female 1.686904
1362 Female 1.703259
1363 Male 1.665798
1364 Male 1.66671
1365 Female 1.65
1366 Female 1.649439
1367 Male 1.702002
1368 Male 1.69382
1369 Female 1.622999
1370 Female 1.633675
1371 Male 1.836669
1372 Male 1.798354
1373 Male 1.824432
1374 Male 1.830384
1375 Male 1.829907
1376 Male 1.823755
1377 Male 1.834842
1378 Male 1.783901
1379 Male 1.782067
1380 Male 1.781032
1381 Female 1.557943
1382 Female 1.560258
1383 Female 1.596586
1384 Female 1.62093
1385 Female 1.571417
1386 Female 1.584322
1387 Female 1.582523
1388 Female 1.572791
1389 Female 1.627908
1390 Female 1.620938
1391 Female 1.613119
1392 Female 1.62686
1393 Male 1.728183

1394 Male 1.732694
1395 Female 1.65
1396 Female 1.65
1397 Female 1.66913
1398 Female 1.669136
1399 Female 1.611058
1400 Female 1.649736
1401 Female 1.532643
1402 Female 1.524293
1403 Male 1.701634
1404 Male 1.723921
1405 Male 1.769484
1406 Male 1.777416
1407 Female 1.64456
1408 Female 1.641149
1409 Female 1.642892
1410 Female 1.65
1411 Male 1.777251
1412 Male 1.814696
1413 Female 1.559005
1414 Female 1.556028
1415 Male 1.653751
1416 Male 1.680171
1417 Female 1.552648
1418 Female 1.560215
1419 Male 1.672959
1420 Male 1.680058
1421 Male 1.664752
1422 Male 1.668553
1423 Male 1.785286
1424 Male 1.780725
1425 Male 1.751046
1426 Male 1.751365
1427 Male 1.717262
1428 Male 1.741393
1429 Male 1.7921
1430 Male 1.785957
1431 Female 1.609068
1432 Female 1.603963
1433 Female 1.605495
1434 Female 1.607182
1435 Female 1.661715
1436 Female 1.655742
1437 Female 1.549257
1438 Female 1.549748
1439 Female 1.52906
1440 Female 1.517248
1441 Male 1.65731
1442 Male 1.673287
1443 Female 1.581527
1444 Female 1.562724
1445 Male 1.781251
1446 Male 1.775584
1447 Male 1.746645
1448 Male 1.741353
1449 Female 1.571812
1450 Female 1.589027
1451 Male 1.803245
1452 Male 1.792646
1453 Male 1.87199
1454 Male 1.859056
1455 Female 1.692242
1456 Female 1.683
1457 Female 1.738397
1458 Female 1.694969
1459 Male 1.785718
1460 Male 1.7425
1461 Male 1.803132
1462 Male 1.774644
1463 Male 1.782269
1464 Male 1.780791
1465 Male 1.790151
1466 Male 1.818641
1467 Male 1.806827
1468 Male 1.811189
1469 Male 1.811738
1470 Male 1.799779
1471 Female 1.632605
1472 Female 1.623377
1473 Female 1.618686
1474 Female 1.616085
1475 Male 1.769328
1476 Male 1.807029
1477 Male 1.882533
1478 Male 1.879144
1479 Male 1.931263
1480 Male 1.861358
1481 Female 1.567131
1482 Female 1.565366
1483 Female 1.516007
1484 Female 1.549812
1485 Male 1.714143
1486 Male 1.723191
1487 Female 1.562889
1488 Female 1.502609
1489 Female 1.544937
1490 Female 1.592316
1491 Male 1.787733
1492 Male 1.782722
1493 Male 1.797523
1494 Male 1.803527
1495 Male 1.801224
1496 Male 1.829239
1497 Female 1.692913
1498 Female 1.668555
1499 Male 1.652971
1500 Male 1.661277
1501 Male 1.641784
1502 Male 1.673767
1503 Female 1.617192
1504 Female 1.602129
1505 Male 1.701413
1506 Male 1.709731
1507 Male 1.698829
1508 Male 1.705304
1509 Female 1.61291
1510 Female 1.605469
1511 Male 1.80416
1512 Male 1.785062
1513 Male 1.755926
1514 Male 1.787802
1515 Male 1.704877
1516 Male 1.695347
1517 Male 1.908608
1518 Male 1.819296
1519 Male 1.773259
1520 Male 1.774647
1521 Male 1.773664
1522 Male 1.793476
1523 Male 1.82559
1524 Male 1.885543
1525 Male 1.75
1526 Male 1.87407
1527 Male 1.755967
1528 Male 1.757069
1529 Male 1.75
1530 Male 1.704028
1531 Male 1.849003
1532 Male 1.841989
1533 Male 1.613491
1534 Male 1.647821
1535 Male 1.75834
1536 Male 1.758398
1537 Male 1.670774
1538 Male 1.665585
1539 Male 1.914186
1540 Male 1.899588
1541 Male 1.75
1542 Male 1.75
1543 Male 1.773664
1544 Male 1.792998
1545 Male 1.82559
1546 Male 1.827279
1547 Male 1.775416
1548 Male 1.766975
1549 Male 1.754218
1550 Male 1.754996
1551 Male 1.748103
1552 Male 1.73325
1553 Male 1.84995
1554 Male 1.849601
1555 Male 1.606066
1556 Male 1.611434
1557 Male 1.762887
1558 Male 1.755938
1559 Male 1.787052
1560 Male 1.765258
1561 Male 1.726279
1562 Male 1.735851
1563 Male 1.699793
1564 Male 1.703202
1565 Male 1.906821
1566 Male 1.910987
1567 Male 1.784049
1568 Male 1.783914
1569 Male 1.863883
1570 Male 1.812259
1571 Male 1.75015
1572 Male 1.815347
1573 Male 1.767077
1574 Male 1.762461
1575 Male 1.779049
1576 Male 1.780731
1577 Male 1.872517
1578 Male 1.801224
1579 Male 1.876898
1580 Male 1.77558
1581 Male 1.76569
1582 Male 1.759772
1583 Male 1.823545
1584 Male 1.868923
1585 Male 1.77151
1586 Male 1.77219
1587 Male 1.858265
1588 Male 1.830596
1589 Male 1.765836
1590 Male 1.770278
1591 Male 1.673491
1592 Male 1.703346
1593 Male 1.842906
1594 Male 1.779547
1595 Male 1.873368
1596 Male 1.755902
1597 Male 1.617655
1598 Male 1.644517
1599 Male 1.701284
1600 Male 1.65891
1601 Male 1.759324
1602 Male 1.758382
1603 Male 1.622297
1604 Male 1.623278
1605 Male 1.918859
1606 Male 1.913252
1607 Male 1.75
1608 Male 1.75
1609 Male 1.784994
1610 Male 1.792533
1611 Male 1.829757
1612 Male 1.796415
1613 Male 1.75
1614 Male 1.762389
1615 Male 1.825718
1616 Male 1.839699
1617 Male 1.749405
1618 Male 1.75
1619 Male 1.849998
1620 Male 1.84998
1621 Male 1.607939
1622 Male 1.603226
1623 Male 1.770663
1624 Male 1.758038
1625 Male 1.786997
1626 Male 1.771837
1627 Male 1.722396
1628 Male 1.701387
1629 Male 1.697421
1630 Male 1.696365
1631 Male 1.909198
1632 Male 1.909105
1633 Male 1.801368
1634 Male 1.860292
1635 Male 1.819535
1636 Male 1.793174
1637 Male 1.75015
1638 Male 1.754956
1639 Male 1.773115
1640 Male 1.772731
1641 Male 1.787933
1642 Male 1.785277
1643 Male 1.817572
1644 Male 1.84342
1645 Male 1.874519
1646 Male 1.796332
1647 Male 1.756221
1648 Male 1.757132
1649 Male 1.889104
1650 Male 1.869323
1651 Male 1.757154
1652 Male 1.764484
1653 Male 1.774775
1654 Male 1.769933
1655 Male 1.760175
1656 Male 1.763029
1657 Male 1.679515
1658 Male 1.699354
1659 Male 1.849307
1660 Male 1.86741
1661 Male 1.86714
1662 Male 1.848553
1663 Male 1.61981
1664 Male 1.647807
1665 Male 1.619128
1666 Male 1.64187
1667 Male 1.787379
1668 Male 1.758355
1669 Male 1.76414
1670 Male 1.767186
1671 Male 1.67782
1672 Male 1.668478
1673 Male 1.685462
1674 Male 1.694642
1675 Male 1.886109
1676 Male 1.915
1677 Male 1.841908
1678 Male 1.868127
1679 Male 1.751688
1680 Male 1.755333
1681 Male 1.754217
1682 Male 1.76071
1683 Male 1.755938
1684 Male 1.765137
1685 Male 1.788239
1686 Male 1.767121
1687 Male 1.840039
1688 Male 1.824901
1689 Male 1.828391
1690 Male 1.829529
1691 Male 1.779325
1692 Male 1.781139
1693 Male 1.764166
1694 Male 1.754796
1695 Male 1.756509
1696 Male 1.756772
1697 Male 1.754439
1698 Male 1.755142
1699 Male 1.706741
1700 Male 1.74285
1701 Male 1.6811
1702 Male 1.705682
1703 Male 1.849507
1704 Male 1.853373
1705 Male 1.84753
1706 Male 1.87034
1707 Male 1.607787
1708 Male 1.603091
1709 Male 1.620109
1710 Male 1.610647
1711 Male 1.758618
1712 Male 1.763259
1713 Male 1.764138
1714 Male 1.75596
1715 Male 1.783381
1716 Male 1.786532
1717 Male 1.766626
1718 Male 1.765464
1719 Male 1.75853
1720 Male 1.758539
1721 Male 1.748015
1722 Male 1.744974
1723 Male 1.701566
1724 Male 1.696412
1725 Male 1.680489
1726 Male 1.703317
1727 Male 1.877732
1728 Male 1.909639
1729 Male 1.909188
1730 Male 1.910672
1731 Male 1.779136
1732 Male 1.767485
1733 Male 1.783953
1734 Male 1.76714
1735 Male 1.816197
1736 Male 1.839941
1737 Male 1.84842
1738 Male 1.830317
1739 Male 1.750085
1740 Male 1.763582
1741 Male 1.816547
1742 Male 1.805445
1743 Male 1.770124
1744 Male 1.77274
1745 Male 1.763215
1746 Male 1.766547
1747 Male 1.773181
1748 Male 1.76003
1749 Male 1.780089
1750 Male 1.766946
1751 Male 1.885119
1752 Male 1.828276
1753 Male 1.806227
1754 Male 1.812919
1755 Male 1.859717
1756 Male 1.86516
1757 Male 1.783609
1758 Male 1.794827
1759 Male 1.759647
1760 Male 1.773521
1761 Male 1.753327
1762 Male 1.761068
1763 Male 1.848845
1764 Male 1.842812
1765 Male 1.825449
1766 Male 1.86198
1767 Male 1.763987
1768 Male 1.761519
1769 Male 1.772045
1770 Male 1.771817
1771 Male 1.79858
1772 Male 1.788586
1773 Male 1.803207
1774 Male 1.836592
1775 Male 1.762921
1776 Male 1.752863
1777 Male 1.768235
1778 Male 1.766888
1779 Male 1.603501
1780 Male 1.690262
1781 Male 1.712905
1782 Male 1.695735
1783 Male 1.829971
1784 Male 1.84629
1785 Male 1.774983
1786 Male 1.78968
1787 Male 1.852664
1788 Male 1.872561
1789 Male 1.81955
1790 Male 1.815514
1791 Male 1.614075
1792 Male 1.609418
1793 Male 1.650189
1794 Male 1.653876
1795 Male 1.657132
1796 Male 1.644751
1797 Male 1.660761
1798 Male 1.69151
1799 Female 1.611462
1800 Female 1.584782
1801 Female 1.792378
1802 Female 1.802257
1803 Female 1.65632
1804 Female 1.600762
1805 Female 1.678658
1806 Female 1.678201
1807 Female 1.65563
1808 Female 1.694952
1809 Female 1.622771
1810 Female 1.583889
1811 Female 1.729045
1812 Female 1.664622
1813 Female 1.747773
1814 Female 1.730113
1815 Female 1.746652
1816 Female 1.719365
1817 Female 1.632377
1818 Female 1.642572
1819 Female 1.654875
1820 Female 1.627567
1821 Female 1.736276
1822 Female 1.737056
1823 Female 1.580968
1824 Female 1.607128
1825 Female 1.821566
1826 Female 1.82773
1827 Female 1.656504
1828 Female 1.637725
1829 Female 1.669701
1830 Female 1.668709
1831 Female 1.668642
1832 Female 1.690614
1833 Female 1.622418
1834 Female 1.643332
1835 Female 1.733383
1836 Female 1.748313
1837 Female 1.812963
1838 Female 1.80734
1839 Female 1.745644
1840 Female 1.753266
1841 Female 1.632193
1842 Female 1.641098
1843 Female 1.640741
1844 Female 1.618573
1845 Female 1.757442
1846 Female 1.763343
1847 Female 1.610086
1848 Female 1.664463
1849 Female 1.602025
1850 Female 1.632896
1851 Female 1.771043
1852 Female 1.789555
1853 Female 1.801746
1854 Female 1.787195
1855 Female 1.644141
1856 Female 1.643355
1857 Female 1.623707
1858 Female 1.610636
1859 Female 1.629491
1860 Female 1.684768
1861 Female 1.66494
1862 Female 1.655646
1863 Female 1.666194
1864 Female 1.707508
1865 Female 1.754174
1866 Female 1.714193
1867 Female 1.62439
1868 Female 1.638836
1869 Female 1.621245
1870 Female 1.623514
1871 Female 1.736215
1872 Female 1.732951
1873 Female 1.69135
1874 Female 1.635062
1875 Female 1.746061
1876 Female 1.746529
1877 Female 1.746516
1878 Female 1.751118
1879 Female 1.741014
1880 Female 1.748533
1881 Female 1.694726
1882 Female 1.674515
1883 Female 1.631332
1884 Female 1.641918
1885 Female 1.640125
1886 Female 1.649178
1887 Female 1.603404
1888 Female 1.644199
1889 Female 1.628909
1890 Female 1.628019
1891 Female 1.71818
1892 Female 1.708581
1893 Female 1.724983

1894 Female 1.739991
1895 Female 1.568543
1896 Female 1.579893
1897 Female 1.782714
1898 Female 1.793824
1899 Female 1.659557
1900 Female 1.65782
1901 Female 1.684082
1902 Female 1.68395
1903 Female 1.716521
1904 Female 1.680762
1905 Female 1.623303
1906 Female 1.631856
1907 Female 1.747479
1908 Female 1.782453
1909 Female 1.809871
1910 Female 1.803677
1911 Female 1.745602
1912 Female 1.751038
1913 Female 1.631547
1914 Female 1.635905
1915 Female 1.616975
1916 Female 1.62788
1917 Female 1.76416
1918 Female 1.763847
1919 Female 1.608808
1920 Female 1.610488
1921 Female 1.621231
1922 Female 1.642392
1923 Female 1.801983
1924 Female 1.787614
1925 Female 1.801478
1926 Female 1.807576
1927 Female 1.650125
1928 Female 1.652674
1929 Female 1.663632
1930 Female 1.627818
1931 Female 1.66877
1932 Female 1.642098
1933 Female 1.65757
1934 Female 1.643111
1935 Female 1.675562
1936 Female 1.661415
1937 Female 1.713133
1938 Female 1.7199
1939 Female 1.622701
1940 Female 1.622468
1941 Female 1.618867
1942 Female 1.600905
1943 Female 1.730636
1944 Female 1.729719
1945 Female 1.677672
1946 Female 1.637524
1947 Female 1.738717
1948 Female 1.741193
1949 Female 1.792833
1950 Female 1.810427
1951 Female 1.743589
1952 Female 1.747962
1953 Female 1.71146
1954 Female 1.685482
1955 Female 1.639251
1956 Female 1.654784
1957 Female 1.641209
1958 Female 1.643167
1959 Female 1.63073
1960 Female 1.649867
1961 Female 1.613574
1962 Female 1.627532
1963 Female 1.726606
1964 Female 1.721476
1965 Female 1.742901
1966 Female 1.737313
1967 Female 1.62414
1968 Female 1.644078
1969 Female 1.592529
1970 Female 1.607734
1971 Female 1.817271
1972 Female 1.808765
1973 Female 1.817231
1974 Female 1.819728
1975 Female 1.656465
1976 Female 1.648143
1977 Female 1.622703
1978 Female 1.640606
1979 Female 1.683502
1980 Female 1.669039
1981 Female 1.673665
1982 Female 1.668931
1983 Female 1.700996
1984 Female 1.734092
1985 Female 1.708291
1986 Female 1.716497
1987 Female 1.62495
1988 Female 1.594776
1989 Female 1.626503
1990 Female 1.624576
1991 Female 1.729099
1992 Female 1.73581
1993 Female 1.748524
1994 Female 1.748951
1995 Female 1.777971
1996 Female 1.73995
1997 Female 1.816868
1998 Female 1.8002
1999 Female 1.74647
2000 Female 1.759091
2001 Female 1.752531
2002 Female 1.761773
2003 Female 1.633195
2004 Female 1.633945
2005 Female 1.641601
2006 Female 1.641132
2007 Female 1.638218
2008 Female 1.627483
2009 Female 1.610225
2010 Female 1.61739
2011 Female 1.744319
2012 Female 1.755467
2013 Female 1.746416
2014 Female 1.746411
2015 Female 1.611452
2016 Female 1.596813
2017 Female 1.610126
2018 Female 1.623113
2019 Female 1.618348
2020 Female 1.609401
2021 Female 1.621671
2022 Female 1.614484
2023 Female 1.789143
2024 Female 1.774207
2025 Female 1.792933
2026 Female 1.758959
2027 Female 1.807406
2028 Female 1.75091
2029 Female 1.805803
2030 Female 1.796538
2031 Female 1.634894
2032 Female 1.639524
2033 Female 1.643017
2034 Female 1.641849
2035 Female 1.621167
2036 Female 1.638075
2037 Female 1.60937
2038 Female 1.608283
2039 Female 1.629442
2040 Female 1.629225
2041 Female 1.680218
2042 Female 1.686033
2043 Female 1.662978
2044 Female 1.675185
2045 Female 1.62456
2046 Female 1.626179
2047 Female 1.682594
2048 Female 1.669354
2049 Female 1.68838
2050 Female 1.694439
2051 Female 1.755476
2052 Female 1.748106
2053 Female 1.719913
2054 Female 1.723587
2055 Female 1.623812
2056 Female 1.624099
2057 Female 1.632983
2058 Female 1.640745
2059 Female 1.629727
2060 Female 1.624134
2061 Female 1.623938
2062 Female 1.593321
2063 Female 1.730333
2064 Female 1.721057
2065 Female 1.71978
2066 Female 1.699315
2067 Female 1.681394
2068 Female 1.697421
2069 Female 1.650726
2070 Female 1.667383
2071 Female 1.746277
2072 Female 1.735461
2073 Female 1.747714
2074 Female 1.71582
2075 Female 1.747987
2076 Female 1.817917
2077 Female 1.80835
2078 Female 1.739457
2079 Female 1.742062
2080 Female 1.741925
2081 Female 1.751067
2082 Female 1.749118
2083 Female 1.663341
2084 Female 1.668537
2085 Female 1.668951
2086 Female 1.661712
2087 Female 1.633442
2088 Female 1.63302
2089 Female 1.633887
2090 Female 1.643421
2091 Female 1.640535
2092 Female 1.626483
2093 Female 1.64599
2094 Female 1.643892
2095 Female 1.617817
2096 Female 1.626449
2097 Female 1.62658
2098 Female 1.606474
2099 Female 1.628855
2100 Female 1.628205
2101 Female 1.62847
2102 Female 1.627839
2103 Female 1.724268
2104 Female 1.732383
2105 Female 1.72692
2106 Female 1.71073
2107 Female 1.748584
2108 Female 1.752206
2109 Female 1.73945
2110 Female 1.738836

# Sorting/Describing data

In [776]:
# df.describe() # gives the stats of the data(only for columns with numbers as data)
# df.sort_values('Gender') # sorting in ascending order
df.sort_values('Gender', ascending=False) # sorting in descending order

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
1055,Male,33.000000,1.850000,97.920350,yes,yes,2.000000,3.000000,Sometimes,no,1.117464,no,1.000000,0.663649,Sometimes,Public_Transportation,Overweight_Level_II
1634,Male,30.350516,1.860292,123.721352,yes,yes,2.002784,3.000000,Sometimes,no,2.292906,no,1.034031,0.000000,Sometimes,Automobile,Obesity_Type_II
1630,Male,30.403205,1.696365,102.815983,yes,yes,2.791660,2.132290,Sometimes,no,1.254589,no,0.652736,1.040713,no,Public_Transportation,Obesity_Type_II
1631,Male,29.687488,1.909198,129.679131,yes,yes,2.088680,3.000000,Sometimes,no,1.520215,no,1.857351,0.000000,Sometimes,Public_Transportation,Obesity_Type_II
923,Male,21.000000,1.620000,70.000000,no,yes,2.000000,1.000000,no,no,3.000000,no,1.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_I
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
884,Female,18.985119,1.759117,80.000000,yes,yes,2.000000,1.411808,Sometimes,no,2.651194,no,2.878414,0.953841,no,Public_Transportation,Overweight_Level_I
883,Female,33.251015,1.730379,75.920519,yes,yes,2.013782,2.625942,Sometimes,no,1.045586,no,0.553305,0.480214,Sometimes,Automobile,Overweight_Level_I
881,Female,17.781183,1.600000,65.000000,yes,yes,3.000000,2.973504,Sometimes,no,2.000000,yes,0.178976,0.166076,Sometimes,Public_Transportation,Overweight_Level_I
880,Female,18.947102,1.518917,60.267427,no,yes,2.838037,2.737571,Sometimes,no,1.144467,yes,0.753782,1.286844,Sometimes,Public_Transportation,Overweight_Level_I
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.000000,3.000000,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

## Making changes to the data

In [777]:
# df['Weight/Height'] = df['Weight']/df['Height'] # adding a column with the given name
# another way of doing the above is as below
df['Weight/Height'] = df.iloc[:, 2:4].sum(axis=1) # semicolon means all the rows, 2 and 4 means from the column at index 2 to index 3(excluding index 4 column), axis=1 means going horizontally(adding through rows)

df.head()

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad,Weight/Height
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,65.62
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,57.52
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight,78.80
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,88.80
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,91.58

In [778]:
# switching a column to a particular position
cols = list(df.columns) # this will get all the positions of the columns and store them in a list
df = df[cols[0:4] + [cols[-2]] + cols[5:16] + [cols[-1]]]
df.head(7)

,Gender,Age,Height,Weight,NObeyesdad,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Weight/Height
0,Female,21.0,1.62,64.0,Normal_Weight,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,65.62
1,Female,21.0,1.52,56.0,Normal_Weight,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,57.52
2,Male,23.0,1.80,77.0,Normal_Weight,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,78.80
3,Male,27.0,1.80,87.0,Overweight_Level_I,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,88.80
4,Male,22.0,1.78,89.8,Overweight_Level_II,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,91.58
5,Male,29.0,1.62,53.0,Normal_Weight,yes,2.0,3.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Automobile,54.62
6,Female,23.0,1.50,55.0,Normal_Weight,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,0.0,Sometimes,Motorbike,56.50

In [779]:
df = df.drop(columns=["Weight/Height"]) # dropping(deleting a column)

df.head()

,Gender,Age,Height,Weight,NObeyesdad,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS
0,Female,21.0,1.62,64.0,Normal_Weight,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation
1,Female,21.0,1.52,56.0,Normal_Weight,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation
2,Male,23.0,1.80,77.0,Normal_Weight,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation
3,Male,27.0,1.80,87.0,Overweight_Level_I,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking
4,Male,22.0,1.78,89.8,Overweight_Level_II,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation

## Saving to desired format

In [780]:
df.to_csv('obesity-modified-dataset.csv', index=False) # this will take the dataframe that we have been modifing and save it to the specified format. index=False will remove the index column
df.to_excel('obesity-excel-modified-dataset.xlsx', index=False) # excel format
df.to_csv('obesity-modified-dataset.txt', index=False, sep='\t') # saving to a tab separated format, if you don't include sep='\t' then the entries will be separated by commas

df2 = pd.read_csv('obesity-modified-dataset.csv')

df2.head()

,Gender,Age,Height,Weight,NObeyesdad,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS
0,Female,21.0,1.62,64.0,Normal_Weight,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation
1,Female,21.0,1.52,56.0,Normal_Weight,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation
2,Male,23.0,1.80,77.0,Normal_Weight,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation
3,Male,27.0,1.80,87.0,Overweight_Level_I,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking
4,Male,22.0,1.78,89.8,Overweight_Level_II,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation

In [781]:
df.head()

,Gender,Age,Height,Weight,NObeyesdad,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS
0,Female,21.0,1.62,64.0,Normal_Weight,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation
1,Female,21.0,1.52,56.0,Normal_Weight,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation
2,Male,23.0,1.80,77.0,Normal_Weight,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation
3,Male,27.0,1.80,87.0,Overweight_Level_I,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking
4,Male,22.0,1.78,89.8,Overweight_Level_II,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation

## Filtering data

In [782]:
# df.loc[(df['Gender'] == 'Male') & (df['NObeyesdad'] == 'Normal_Weight')]
# df.loc[(df['Gender'] == 'Male') | (df['NObeyesdad'] == 'Normal_Weight')]
newdataset = df.loc[(df['NObeyesdad'] == 'Normal_Weight') & (df['FAVC'] == 'yes') & (df['Gender'] == 'Male')]

In [783]:
df.head()

,Gender,Age,Height,Weight,NObeyesdad,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS
0,Female,21.0,1.62,64.0,Normal_Weight,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation
1,Female,21.0,1.52,56.0,Normal_Weight,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation
2,Male,23.0,1.80,77.0,Normal_Weight,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation
3,Male,27.0,1.80,87.0,Overweight_Level_I,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking
4,Male,22.0,1.78,89.8,Overweight_Level_II,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation

In [784]:
newdataset.head()

,Gender,Age,Height,Weight,NObeyesdad,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS
5,Male,29.0,1.62,53.0,Normal_Weight,yes,2.0,3.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Automobile
8,Male,24.0,1.78,64.0,Normal_Weight,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,1.0,Frequently,Public_Transportation
9,Male,22.0,1.72,68.0,Normal_Weight,yes,2.0,3.0,Sometimes,no,2.0,no,1.0,1.0,no,Public_Transportation
14,Male,23.0,1.77,60.0,Normal_Weight,yes,3.0,1.0,Sometimes,no,1.0,no,1.0,1.0,Sometimes,Public_Transportation
24,Male,21.0,1.85,68.0,Normal_Weight,yes,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,Sometimes,Public_Transportation

In [785]:
# from the above line of code, the indices of the entries did nott change
newdataset = newdataset.reset_index(drop=True) # this will renumber the indices of the entries after filtering, drop=True removes he column for the old indices
newdataset.head()

,Gender,Age,Height,Weight,NObeyesdad,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS
0,Male,29.0,1.62,53.0,Normal_Weight,yes,2.0,3.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Automobile
1,Male,24.0,1.78,64.0,Normal_Weight,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,1.0,Frequently,Public_Transportation
2,Male,22.0,1.72,68.0,Normal_Weight,yes,2.0,3.0,Sometimes,no,2.0,no,1.0,1.0,no,Public_Transportation
3,Male,23.0,1.77,60.0,Normal_Weight,yes,3.0,1.0,Sometimes,no,1.0,no,1.0,1.0,Sometimes,Public_Transportation
4,Male,21.0,1.85,68.0,Normal_Weight,yes,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,Sometimes,Public_Transportation

In [786]:
df

,Gender,Age,Height,Weight,NObeyesdad,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS
0,Female,21.000000,1.620000,64.000000,Normal_Weight,no,2.0,3.0,Sometimes,no,2.000000,no,0.000000,1.000000,no,Public_Transportation
1,Female,21.000000,1.520000,56.000000,Normal_Weight,no,3.0,3.0,Sometimes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation
2,Male,23.000000,1.800000,77.000000,Normal_Weight,no,2.0,3.0,Sometimes,no,2.000000,no,2.000000,1.000000,Frequently,Public_Transportation
3,Male,27.000000,1.800000,87.000000,Overweight_Level_I,no,3.0,3.0,Sometimes,no,2.000000,no,2.000000,0.000000,Frequently,Walking
4,Male,22.000000,1.780000,89.800000,Overweight_Level_II,no,2.0,1.0,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,20.976842,1.710730,131.408528,Obesity_Type_III,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation
2107,Female,21.982942,1.748584,133.742943,Obesity_Type_III,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation
2108,Female,22.524036,1.752206,133.689352,Obesity_Type_III,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation
2109,Female,24.361936,1.739450,133.346641,Obesity_Type_III,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation
2110,Female,23.664709,1.738836,133.472641,Obesity_Type_III,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation

In [787]:
# getting rid of entries with some specific strings
# df.loc[df['CAEC'].str.contains('Sometimes')] # this gives the entries with 'sometimes' in CAEC column
# df.loc[~df['CAEC'].str.contains('Sometimes')] # the '~' will exclude those entries
df.loc[~df['CAEC'].str.contains('Always|no|Sometimes')] # yo get the point

,Gender,Age,Height,Weight,NObeyesdad,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS
10,Male,26.000000,1.850000,105.000000,Obesity_Type_I,yes,3.000000,3.000000,Frequently,no,3.000000,no,2.000000,2.000000,Sometimes,Public_Transportation
11,Female,21.000000,1.720000,80.000000,Overweight_Level_II,yes,2.000000,3.000000,Frequently,no,2.000000,yes,2.000000,1.000000,Sometimes,Public_Transportation
18,Female,30.000000,1.710000,82.000000,Overweight_Level_II,yes,3.000000,4.000000,Frequently,yes,1.000000,no,0.000000,0.000000,no,Automobile
25,Male,20.000000,1.600000,50.000000,Normal_Weight,no,2.000000,4.000000,Frequently,yes,2.000000,no,3.000000,2.000000,no,Public_Transportation
26,Male,21.000000,1.700000,65.000000,Normal_Weight,yes,2.000000,1.000000,Frequently,no,2.000000,no,1.000000,2.000000,Always,Walking
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
738,Female,19.946244,1.603435,45.000000,Insufficient_Weight,no,3.000000,3.000000,Frequently,no,2.487919,yes,1.230441,0.000000,Sometimes,Public_Transportation
739,Female,19.639431,1.535350,42.000000,Insufficient_Weight,yes,3.000000,1.000000,Frequently,no,1.496810,no,0.000000,0.513427,Sometimes,Public_Transportation
740,Female,19.000000,1.531610,42.000000,Insufficient_Weight,yes,2.749268,1.394539,Frequently,no,1.322048,no,0.463949,0.800993,Sometimes,Public_Transportation
741,Female,19.434709,1.525691,42.000000,Insufficient_Weight,yes,3.000000,1.000000,Frequently,no,1.764055,no,0.000000,0.560887,Sometimes,Public_Transportation
771,Female,22.667596,1.718939,75.951472,Overweight_Level_I,yes,2.000000,3.000000,Frequently,no,2.000000,no,0.000000,2.000000,Sometimes,Public_Transportation

In [788]:
import re # regular expression(can be used when you want to ignore case)

df.loc[~df['CAEC'].str.contains('always|sometimes', flags=re.I)]

,Gender,Age,Height,Weight,NObeyesdad,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS
10,Male,26.000000,1.850000,105.000000,Obesity_Type_I,yes,3.000000,3.000000,Frequently,no,3.000000,no,2.000000,2.000000,Sometimes,Public_Transportation
11,Female,21.000000,1.720000,80.000000,Overweight_Level_II,yes,2.000000,3.000000,Frequently,no,2.000000,yes,2.000000,1.000000,Sometimes,Public_Transportation
18,Female,30.000000,1.710000,82.000000,Overweight_Level_II,yes,3.000000,4.000000,Frequently,yes,1.000000,no,0.000000,0.000000,no,Automobile
25,Male,20.000000,1.600000,50.000000,Normal_Weight,no,2.000000,4.000000,Frequently,yes,2.000000,no,3.000000,2.000000,no,Public_Transportation
26,Male,21.000000,1.700000,65.000000,Normal_Weight,yes,2.000000,1.000000,Frequently,no,2.000000,no,1.000000,2.000000,Always,Walking
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
922,Male,21.000000,1.620000,70.000000,Overweight_Level_I,yes,2.000000,1.000000,no,no,3.000000,no,1.000000,0.000000,Sometimes,Public_Transportation
923,Male,21.000000,1.620000,70.000000,Overweight_Level_I,yes,2.000000,1.000000,no,no,3.000000,no,1.000000,0.000000,Sometimes,Public_Transportation
930,Female,21.009437,1.606810,67.773914,Overweight_Level_I,yes,2.000000,3.156309,no,no,3.000000,no,1.179592,0.086868,Sometimes,Public_Transportation
931,Female,21.538225,1.610327,67.999778,Overweight_Level_I,yes,1.887951,3.728377,no,no,2.682107,no,1.123931,0.492528,Sometimes,Public_Transportation
958,Male,19.858973,1.620000,69.575315,Overweight_Level_I,yes,2.185938,1.000000,no,no,2.813530,no,1.000000,1.110222,Sometimes,Public_Transportation

In [789]:
df.loc[df['MTRANS'].str.contains('^au', flags=re.I)] # the '^' means data that starts with 'au'

,Gender,Age,Height,Weight,NObeyesdad,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS
5,Male,29.000000,1.620000,53.000000,Normal_Weight,yes,2.000000,3.000000,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Automobile
13,Male,41.000000,1.800000,99.000000,Obesity_Type_I,yes,2.000000,3.000000,Sometimes,no,2.000000,no,2.000000,1.000000,Frequently,Automobile
17,Female,29.000000,1.530000,78.000000,Obesity_Type_I,yes,2.000000,1.000000,Sometimes,no,2.000000,no,0.000000,0.000000,no,Automobile
18,Female,30.000000,1.710000,82.000000,Overweight_Level_II,yes,3.000000,4.000000,Frequently,yes,1.000000,no,0.000000,0.000000,no,Automobile
21,Female,52.000000,1.690000,87.000000,Obesity_Type_I,yes,3.000000,1.000000,Sometimes,yes,2.000000,no,0.000000,0.000000,no,Automobile
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1762,Male,30.444081,1.761068,118.370628,Obesity_Type_II,yes,2.571274,3.000000,Sometimes,no,2.224164,no,1.018158,1.152899,Sometimes,Automobile
1775,Male,37.207082,1.762921,118.401740,Obesity_Type_II,yes,2.136830,2.993084,Sometimes,no,1.885926,no,0.615298,0.000000,Sometimes,Automobile
1776,Male,38.108940,1.752863,119.201465,Obesity_Type_II,yes,2.499388,2.989791,Sometimes,no,1.959777,no,0.608100,0.646760,Sometimes,Automobile
1777,Male,38.644441,1.768235,117.792268,Obesity_Type_II,yes,2.230742,2.920373,Sometimes,no,1.831187,no,0.756277,0.000000,Sometimes,Automobile
1778,Male,38.112989,1.766888,118.134898,Obesity_Type_II,yes,2.240757,2.911568,Sometimes,no,1.895876,no,0.822186,0.000000,Sometimes,Automobile

## Conditional changes/renaming entries

In [790]:
df.loc[df['FAVC'] == 'yes', 'FAVC'] = 'yeahp' # this means that if entries in column 'FAVC' is yes then change it to 'yeahp'
df

,Gender,Age,Height,Weight,NObeyesdad,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS
0,Female,21.000000,1.620000,64.000000,Normal_Weight,no,2.0,3.0,Sometimes,no,2.000000,no,0.000000,1.000000,no,Public_Transportation
1,Female,21.000000,1.520000,56.000000,Normal_Weight,no,3.0,3.0,Sometimes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation
2,Male,23.000000,1.800000,77.000000,Normal_Weight,no,2.0,3.0,Sometimes,no,2.000000,no,2.000000,1.000000,Frequently,Public_Transportation
3,Male,27.000000,1.800000,87.000000,Overweight_Level_I,no,3.0,3.0,Sometimes,no,2.000000,no,2.000000,0.000000,Frequently,Walking
4,Male,22.000000,1.780000,89.800000,Overweight_Level_II,no,2.0,1.0,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,20.976842,1.710730,131.408528,Obesity_Type_III,yeahp,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation
2107,Female,21.982942,1.748584,133.742943,Obesity_Type_III,yeahp,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation
2108,Female,22.524036,1.752206,133.689352,Obesity_Type_III,yeahp,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation
2109,Female,24.361936,1.739450,133.346641,Obesity_Type_III,yeahp,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation
2110,Female,23.664709,1.738836,133.472641,Obesity_Type_III,yeahp,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation

In [791]:
df.loc[df['FAVC'] == 'yeahp', 'Gender'] = 'male'  # this means that if entries in column 'FAVC' is yeahp then change the corresponding entries in column 'Gender' to 'male'
df

,Gender,Age,Height,Weight,NObeyesdad,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS
0,Female,21.000000,1.620000,64.000000,Normal_Weight,no,2.0,3.0,Sometimes,no,2.000000,no,0.000000,1.000000,no,Public_Transportation
1,Female,21.000000,1.520000,56.000000,Normal_Weight,no,3.0,3.0,Sometimes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation
2,Male,23.000000,1.800000,77.000000,Normal_Weight,no,2.0,3.0,Sometimes,no,2.000000,no,2.000000,1.000000,Frequently,Public_Transportation
3,Male,27.000000,1.800000,87.000000,Overweight_Level_I,no,3.0,3.0,Sometimes,no,2.000000,no,2.000000,0.000000,Frequently,Walking
4,Male,22.000000,1.780000,89.800000,Overweight_Level_II,no,2.0,1.0,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,male,20.976842,1.710730,131.408528,Obesity_Type_III,yeahp,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation
2107,male,21.982942,1.748584,133.742943,Obesity_Type_III,yeahp,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation
2108,male,22.524036,1.752206,133.689352,Obesity_Type_III,yeahp,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation
2109,male,24.361936,1.739450,133.346641,Obesity_Type_III,yeahp,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation
2110,male,23.664709,1.738836,133.472641,Obesity_Type_III,yeahp,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation

In [795]:
# doing the same as above but for multiple columns(modifying multiple columns on a certain condition)
# df.loc[df['Age'] > 18, ['FAVC', 'FCVC']] = 'TEST' # if age is over 18 then set entries in columns 'FAVC' and 'FCVC' to TEST
df.loc[df['Age'] > 18, ['FAVC', 'FCVC']] = ['TEST 1', 'TEST 2'] # doing the same as above but modifying multiple columns individually
df

,Gender,Age,Height,Weight,NObeyesdad,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS
0,Female,21.000000,1.620000,64.000000,Normal_Weight,TEST 1,TEST 2,3.0,Sometimes,no,2.000000,no,0.000000,1.000000,no,Public_Transportation
1,Female,21.000000,1.520000,56.000000,Normal_Weight,TEST 1,TEST 2,3.0,Sometimes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation
2,Male,23.000000,1.800000,77.000000,Normal_Weight,TEST 1,TEST 2,3.0,Sometimes,no,2.000000,no,2.000000,1.000000,Frequently,Public_Transportation
3,Male,27.000000,1.800000,87.000000,Overweight_Level_I,TEST 1,TEST 2,3.0,Sometimes,no,2.000000,no,2.000000,0.000000,Frequently,Walking
4,Male,22.000000,1.780000,89.800000,Overweight_Level_II,TEST 1,TEST 2,1.0,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,male,20.976842,1.710730,131.408528,Obesity_Type_III,TEST 1,TEST 2,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation
2107,male,21.982942,1.748584,133.742943,Obesity_Type_III,TEST 1,TEST 2,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation
2108,male,22.524036,1.752206,133.689352,Obesity_Type_III,TEST 1,TEST 2,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation
2109,male,24.361936,1.739450,133.346641,Obesity_Type_III,TEST 1,TEST 2,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation
2110,male,23.664709,1.738836,133.472641,Obesity_Type_III,TEST 1,TEST 2,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation